[submodule "scheduler-plugins"]
	path = scheduler-plugins
	url = https://github.com/amarchese96/scheduler-plugins.git
	branch = cascheduling
[submodule "ca-scheduler-deployment"]
	path = ca-scheduler-deployment
	url = https://github.com/amarchese96/ca-scheduler-deployment.git
[submodule "ca-scheduler-examples"]
	path = ca-scheduler-examples
	url = https://github.com/amarchese96/ca-scheduler-examples.git
[submodule "mentat"]
	path = mentat
	url = https://github.com/amarchese96/mentat.git
